// Override Bootstrap variables
@navbar-inverse-bg:                         rgba(0,0,0,0.8);
@navbar-inverse-brand-color:                white;
@navbar-border-radius:                      0;
@navbar-inverse-link-color:                 #cfd2da;
@brand-primary: rgba(44, 111, 119, 1);
@navbar-margin-bottom: 0;


  // Override Font-Awesome variables (path relative to project.css position)
@fa-font-path: "./fonts";

//Map Bootstrap variables to myproject specific names
@my-customname-float-breakpoint: @grid-float-breakpoint;
@theme-color: @brand-primary;

//Project specific variables
@my-favourite-color: rgb(228, 1, 25);

.cell {
  &-number {
    text-align: right;
  }
  &-string {
    text-align: left;
  }
  &-date {
    text-align: right;
  }
}

.table {
  font-size: 10px;
}

.timestamptz, .varchar {
  text-align: left;
}

.int4, .numeric {
  text-align: right;
}
.body-background {
  background-image: url("/content/images/bet-betting-casino.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size:cover;
}

.login-form {
  margin-top: 32px;
  background-color: rgba(0,0,0,0.6);
  padding: 30px 30px 15px 30px;
  color: white;
}
